
header {
	background: url("https://shahzamanmozumder.files.wordpress.com/2012/02/candy-stripe1.jpg");
	height: 400px;
	width: 1300px;
	text-align: center;

}
h1{ text-align: center;


}
img {
	height: 200px;
	width: 300px;
	border-radius: 50px;
	border: 10px solid white;
	
}

ul{

	.no
}

a{
	color:black;

}

#container{
	width:960px;
margin:0px auto;
}
@media screen and (max-width: 959px) {

#container{
	width:100px;
}


}


